/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------VAR---------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
:root {
  --main-white-color: rgb(245, 245, 240);
  --main-black-color: rgba(1, 1, 1, 0.9);
  --main-orange-color: rgba(146, 120, 18, 1);
  --main-red-color: rgba(141, 18, 18, 0.8);
}

/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------FONTS-------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: "Oswald-Regular";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Oswald-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Lato-Bold.ttf") format("truetype");
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------ANIMATIONS------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

@keyframes heightProgressAnimation {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes underlineAnim {
  from {
    width: 0%;
    left: 20%;
  }
  to {
    width: 50%;
    left: 25%;
  }
}

/*Animation des titres*/
@keyframes textAnim {
  from {
    opacity: 0.4;
    transform: rotateY(3.142rad);
    text-shadow: 5px 5px rgba(103, 101, 101, 0.4);
    font-size: 1em;
  }
  to {
    opacity: 0.8;
    transform: rotateY(0);
    text-shadow: none;
    font-size: 1.5em;
  }
}
@keyframes widthProgress {
  from {
    width: 60%;
    opacity: 0.2;
  }
  to {
    width: 90%;
    opacity: 1;
  }
}
@keyframes opacityProgress {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------BLOCS PRINCIPAUX---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

* {
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: var(--main-white-color);
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}

main {
  margin-top: 2em;
  line-height: 2em;
  text-align: center;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
}

/*Messages d'erreurs*/

.errorMessage {
  color: var(--main-red-color);
}
.success {
  color: rgb(13, 151, 13);
}

/*Visibilité*/
.visible {
  display: block;
}
.invisible {
  display: none;
}
.gridVisible {
  display: block;
}

/*Titres*/
h1,
h2 {
  font-family: "Oswald-Bold", Verdana, sans-serif;
}

h3 {
  font-size: 1.5em;
  animation: "textAnim" 0.7s linear;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------HEADER AND FOOTER-------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
header {
  /*max-height: 100%;*/
  min-height: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}
/*Footer*/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 0.2;
  padding-bottom: 0.2em;
  margin-top: 1.5em;
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  font-size:14px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: .8em;
}
.footer .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logos a {
  font-size: 1.3em;
  padding: 1em;
}
.footer i,
.footer a {
  color: var(--main-white-color);
}
.footer a {
  text-decoration: underline;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------ICONS------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

/*div englobant icon et inputsubmit*/
.formDivSubmit {
  width: 100%;
  height: auto;
  position: relative;
}
.inputWithIcon,
.icon {
  font-size: 2em;
  cursor: pointer;
}
.pawButton,
.deleteArticleButton {
  position: absolute;
  left: 50%;
  top: 50%;
  padding-right: 2em;
  background-color: transparent;
  border: 0;
}
.pawButton {
  margin: auto;
}
.fa-paw {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: -1;
  font-size: 3.5em;
  transform: rotate(45deg);
}
.fa-trash {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  font-size: 2em;
}
.closePhotosButton {
  position: absolute;
  right: 0;
  padding-left: 1em;
  border: 0;
  background: transparent;
  z-index: 20;
}
.closeAddArticleButton {
  width: 2em;
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
  z-index: 20;
}
.fa-window-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  font-size: 2em;
}

/*------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------ACCESSIBILITE------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

.accessibility {
  width: 25%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.accessibility-vision {
  font-family: Arial, Verdana;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 400;
  font-size: 35px;
  line-height: 3em;
  word-wrap: break-word;
}
.accessibility-vision main {
  text-align: left;
}
.accessibility-vision h3,
.accessibility-vision h4 {
  text-align: center;
}
.accessibility-vision .buttonCloseGallery {
  width: 5em;
  height: 2em;
  border: 2px solid var(--main-red-color);
  text-transform: uppercase;
}
.accessibility-vision + footer {
  font-size: 1.8em;
}
.accessibility-vision .formDiv {
  width: 100%;
  justify-content: space-between;
}
.accessibility-dys {
  font-family: Arial, Verdana;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 3em;
}

.toggleVis,
.toggleDys {
  width: 2em;
  height: 1em;
  border: 0.02em solid white;
  color: var(--main-white-color);
  border-radius: 1em;
  transform: 0.3;
  position:relative;
}

.toggleButtonVis,
.toggleButtonDys {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: var(--main-white-color);
  cursor: pointer;
  transform: 0.3;
  border:3px solid blue;
  position:absolute;
  left:0;
}
.toggleTextVis {
  margin-left: 0.1em;
}
.toggleVis.active,
.toggleDys.active {
  background-color: var(--main-red-color);
}

.toggleVis.active .toggleButtonVis,
.toggleDys.active .toggleButtonDys {
  margin-left: 1em;
}
.toggleContainer.containerVis::before {
  content: "V";
  color: white;
  left: 15px;
  top: 1px;
}
.toggleContainer.containerDys::before {
  content: "D";
  color: white;
  left: 15px;
  top: 1px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------NAVBAR------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

header .title {
  width: 30%;
  padding-left: 0.3em;
  text-align: center;
}
/*Comportement quand visible*/
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* le bouton et ses sous onglets*/
.nav > a,
.nav .tabButton {
  display: none;
  margin: auto;
  border: none;
  background-color: transparent;
  color: var(--main-white-color);
  font-size: 1.5em;
  cursor: pointer;
}
/* Div qui englobe les sousOnglets */
.nav .linkDiv {
  display: none;
}

/*-----------Au click sur iconBurgerBurger: la div navBar prend la class BurgerClicked)-------------- */

/*navBar */
.burgerClicked {
  height: 100vh;
}
/* Div englobant Onglet et sous onglets*/
.burgerClicked .dropdown {
  height: auto;
  /*espacement entre chq onglet*/
  margin: 3em 0 2em 0;
  text-align: center;
}
/* Onglet */
.burgerClicked .tabButton {
  display: block;
}
/*class heightProgress a dropdown au click sur 1 dropdown*/
/* style des blocks de sousOnglets*/

.heightProgress .linkDiv {
  width: 100%;
  /*occupe toute hauteur dispo en fonction de son parent (dropDown a auto) */
  height: 100%;
  /* passage de none a flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-white-color);
  color: var(--main-black-color);
  animation-name: "heightProgressAnimation";
  animation-duration: 1.5s;
}

.linkDiv a {
  padding: 2em;
  color: var(--main-black-color);
}
.iconBurger span {
  color: white;
}

.nav .iconBurger,
.nav .iconClose {
  width: 5%;
  position: absolute;
  right: 0.5em;
  top: 1em;
  cursor: pointer;
  color: var(--main-white-color);
  font-size: 2em;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------TEXTES and Pictures(investment and home)-----------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.blockKatiasPic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.blockKatiasPicBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.blockKatiasPic span {
  width: 5em;
  height: 5.3em;
  display: inline-block;
  margin: 0 0 1em 1em;
  padding: 0.3em 0.1em 1.3em 0.1em;
  background: var(--main-white-color);
  color: #8b8b8b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
}
.blockKatiasPic img {
  width: 5em;
  height: auto;
  border: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
.blockKatiasPicBottom img {
  width: 7em;
  margin-top: 0.5em;
}
.blockKatiasPic span:nth-child(1) {
  transform: rotate(10deg);
}
.blockKatiasPic span:nth-child(2) {
  transform: rotate(3deg);
  transform: translateY(1.2em);
}
.blockKatiasPic span:nth-child(3) {
  transform: rotate(25deg);
}
.blockKatiasPic span:nth-child(4) {
  transform: rotate(-5deg);
}
.blockKatiasPic span:nth-child(5) {
  transform: rotate(17deg);
}
.blockKatiasPic span:nth-child(6) {
  transform: rotate(-10deg);
}
article {
  margin: 2em;
}

.eltWithScrollAnimationVisible {
  width: 15em;
  position: relative;
  margin: auto;
  text-decoration: none;
  line-height: 2em;
}
.eltWithScrollAnimationVisible:after {
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 25%;
  margin: 0 auto;
  content: "";
  background-color: #11131a;
  animation: "underlineAnim" 1.2s linear;
}

.price {
  display: block;
  margin: 1em;
  margin-bottom: 4em;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------CAROUSEL-----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.diapo {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}
#rightButton,
#leftButton {
  position: absolute;
  top: 50%;
  color: var(--main-black-color);
  font-size: 1em;
  transform: translateY(-50%);
  cursor: pointer;
}

#rightButton {
  right: 20px;
}
#leftButton {
  left: 20px;
}
.mainDivCarousel {
  display: flex;
  text-align:center;
}
.diapo {
  line-height: 0;
}
.picturesCarousel {
  position: relative;
  /*grow( facteur d'expansion par rapport aux autres),shrink(facteur de rétrécissement),basis(place par rapport a conteneur)*/
  /* pas d'agrandissement, pas de rétrécissement*/
  flex: 1 0 100%;
  
}
.picturesCarousel > img {
  width: 80%;
  height: 15em;
  /*object-fit: cover;
  object-position: center;*/
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------GALLERIES-----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.mainDivGallery {
  text-align: center;
}
/* div englobant titre d'un article + sa photo */
.nthArticleDivTitle {
  margin: 2em;
}
/* img principale pr chq article*/
.nthArticleDivTitle img {
  width: 70%;
  height: auto;
}
.nthArticleDivTitle img {
  cursor: pointer;
  border-radius: 0.1em;
  transition: all 0.2s;
}
.nthArticleDivTitle img:hover {
  border: 2px solid #000000;
  box-shadow: 8px 8px 10px 0 rgba(100, 97, 97, 0.5);
}
.nthArticleDivPhotos {
  padding-top: 1em;

}
.chevronUp{
  position:fixed;
  right:2.5em;
  top:50vh;
  color:white;
  cursor:pointer;
  z-index:5;
}
.chevronUp i{
  width:100%;
  height:100%;
  border:1px solid black;
  border-radius:50%;
  background-color:black;
}
.nthDivAdminPhotos p {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
.gridDiv {
  width: 90%;
  height: auto;
  margin: auto;
  background-color: #11131a;
  animation-name: "widthProgress";
  animation-duration: 3s;
}
.gridDiv img {
  width: 70%;
  border-radius: 0.1em;
  box-shadow: 0px 20px 40px -10px rgba(170, 170, 170, 0.85);
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------FORMULAIRE CONTACT-------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.mainDivForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 5em;
  text-align: center;
  font-size: 0.8em;
  line-height: 1em;
}
.formDiv {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  align-content: center;
  padding-bottom: 0.5em;
}
.formDiv input,
.formDiv textarea,
.formDiv select {
  width: 50%;
  padding: 0.5em;
  border-radius: 4px;
}
.formDiv label {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------PARTIE ADMIN--------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
.adminLogOut {
  position: absolute;
  right: 1em;
  top: 6em;

  border: 2px solid var(--main-red-color);
  background-color: var(--main-red-color);
  color: var(--main-white-color);
}
#formLogin {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#formLogin input {
  width: 16em;
  text-align: center;
}
#formLogin input[type="submit"] {
  margin-top: 0.5em;
}
table {
  margin: auto;
}
.adminLink {
  padding: 0 0.5em;
  margin: 1em 0.5rem;
  border: 1px solid var(--main-black-color);
  border-radius: 25px;
  color: var(--main-black-color);
  background-color: var(--main-orange-color);
  font-size: 1.5em;
  cursor: pointer;
}
.adminLink:before,
.adminLink:after {
  content: "*";
}
.mainAdminArticleDiv {
  margin: auto;
}
.adminArticlesDiv {
  margin-bottom: 1em;
}
.addArticleDiv {
  border: 1px solid Black;
  margin: 1em;
}
.tableAdmin {
  margin: 0 0.5em;
}

.tableAdmin th {
  background-color: rgb(222, 218, 209);
}
.tableAdmin tr {
  padding: 0;
}
table {
  border-collapse: collapse;
  font-size: 0.7em;
}
table td,
table th {
  border: 1px solid rgba(14, 13, 13, 0.5);
  overflow: scroll;
}
.mainArtImgMini {
  width: 3em;
  height: auto;
}
.tdMultiple {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mainDivAdminView {
  width: 100%;
  height: 100%;
}
/* Affichage Photos Admin */
.gridAdminView {
  display: grid;
  grid-template-columns: (minmax(50%, 100%));
  grid-auto-flow: dense;
}
.photoListAdmin {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
  grid-auto-flow: dense;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
}
.photoListAdmin img {
  height: auto;
  max-width: 95%;
  /*margin-right: 1em;*/
  border: 1px solid pink;
}
.photoListAdmin h4 {
  max-height: 4em;
  border: 1px solid pink;
}
.viewArticlesImages {
  width: 100%;
  height: 100%;
}
.eachPictureSeeAndDelete {
  line-height: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.formDeleteThisPhoto {
  position: absolute;
  top: 0;
  right: 0.2em;
}
.formDeleteThisPhoto input {
  font-size: 0.8em;
}
.mainDivMobileBoxes {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  border-radius: 1em;
}
.mobileBoxe {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  border: 1px solid black;
  /* margin: auto;*/
  text-align: center;
  border-radius: 1em;
  opacity: 0.8;
}
.mobileBoxe div:nth-child(odd) {
  border-radius: 1em;
  background-color: var(--main-orange-color);
}
.mobileBoxe div:nth-child(even) {
  border-radius: 1em;
  background-color: rgb(222, 218, 209);
}
.deleteMessage {
  border: 2px solid var(--main-red-color);
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------DESKTOP--------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

/* PAGES GENERALES*/
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  header {
    width: 100%;
    z-index: 1;
    font-size:.8em;
  }
  header .title {
    width: 100%;
    padding-left: 0;
  }

  /* NAVBAR */
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .nav .dropdown {
    width: 100%;
    position: relative;
    margin: 0;
  }
  .nav .tabButton {
    width: 50%;
    display: block;
    /*pour animation absolute */
    position: relative;
  }
  .nav .linkDiv {
    width: 100%;
    height: 10em;
    display: none;
    position: absolute;
    bottom: -11em;
    padding-top: 1em;
    text-align: center;
    opacity: 0.5em;
    z-index: 2;
  }
  .nav .dropdown:hover .linkDiv {
    display: flex;
    flex-direction: column;
  }
  .nav .iconBurger {
    display: none;
  }

  /*Animation tabButton*/
  .tabButton:after,
  .tabButton:before {
    width: 0%;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(222, 218, 209);
    transition: 0.5s;
  }
  .tabButton:after {
    left: 0;
    bottom: -10px;
  }
  .tabButton:before {
    right: 0;
    top: -10px;
  }
  .tabButton:hover:after,
  .tabButton:hover:before {
    width: 100%;
  }

  /* LIENS */
  .linkDiv a:hover {
    border-radius: 0.7em;
    color: var(--main-white-color);
    background-color: var(--main-black-color);
  }
  .linkDiv a {
    padding: .6em;
  }

  /* ICONS */
  .fa-window-close {
    position: absolute;
    margin-left: 0%;
    font-size: 3em;
    z-index: 10;
  }
  /* Textes */
  article {
    padding: 1em 10em;
    margin-bottom: 2em;
  }
  article .informations {
    margin-bottom: 3em;
    text-align: center;
  }
  section h4 {
    text-align: center;
    text-decoration: underline;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------GALLERIES------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
  .nthArticleDivTitle img {
    width: 30%;
    height: auto;
  }
  .mainDivGallery {
    margin: auto;
  }
  .gridVisible {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row dense;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:1em;
  }
  .gridDiv img {
    margin: auto;
  }
  .gridDiv img:hover {
    z-index: 2;
    transition: all 1s ease-in;
    transform: scale(1.5);
    animation-name: "opacityProgress";
    animation-duration: 2.5s;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------CAROUSEL-------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .picturesCarousel > img {
    height: 20em;
    width:60%;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------ADMIN PAGES---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .adminLogOut {
    right: 1em;
    top: 1em;
  }
  .adminArticlesDiv .adminContactDiv {
    margin: auto;
    text-align: center;
  }
  .adminArticlesDiv {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
  }
  .photoListAdmin {
    padding: 2em;
  }
  table {
    width: 100%;
    margin-top: 0;
    transform: none;
  }
  table td,
  table th {
    font-size: 1em;
  }
  .tableAdmin {
    width: 95%;
    height: auto;
    margin: auto;
    padding: 0;
    text-align: center;
    font-size:.8em;
  }
  .adminContactDiv {
    display: block;
  }
  .mainDivMobileBoxes {
    display: none;
  }
  /*-------------------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------FORMULAIRES---------------------------------------------------*/
  /*-------------------------------------------------------------------------------------------------------------------*/

  .formContact .mainDivForm {
    width: 60%;
    padding: 5em auto;
  }
  .formDiv {
    width: 70%;
    margin-bottom: 1em;
  }

  .addArticleDiv {
    width: 60%;
    margin: auto;
  }
  /*-------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------- Pictures(investment and home)-----------------------------------------*/
  /*-------------------------------------------------------------------------------------------------------------------*/
  .blockKatiasPic span {
    width: 8em;
    height: 8.5em;
  }
  .blockKatiasPic img {
    height: 6em;
    width: 80%;
  }
}
